<div class="row">
  <div class="col"></div>

  <div class="col-6">

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Login</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: page }; index as i">
        <th scope="row">{{i}}</th>
        <td><a [routerLink]="'/user/' + user.id">{{user.name}}</a></td>
        <td>
          <button *ngIf="!user.isBanned" type="button" (click)="ban(user)" class="btn btn-danger">Ban</button>
          <button *ngIf="user.isBanned" type="button" class="btn btn-success" (click)="unBan(user)">Unban</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="nav justify-content-center">
      <div class="has-text-centered">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>

  <div class="col"></div>
</div>
