<nav class="navbar navbar-light bg-light navbar-expand">
  <a class="nav-link" (click)="getAllSubscriptions()" routerLink="/subscriptions">
    <img src="../../../../../assets/icons/icon.png" class="nav-icon">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="filter('development')" routerLink="/subscriptions">Development</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="filter('music')" routerLink="/subscriptions">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="filter('films')" routerLink="/subscriptions">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="filter('office')" routerLink="/subscriptions">Office</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="filter('streaming')" routerLink="/subscriptions">Streaming</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link" routerLink="/createSubscription">Create</a>
      </li>
    </ul>
    <form class="form-inline justify-content-center">
      <input #searchRequest class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button type="button" routerLink="/subscriptions" (click)="search(searchRequest.value)"
              class="btn btn-outline-success my-2 my-sm-0">Search
      </button>
    </form>
  </div>
    <img src="../../../../../assets/icons/account.png" class="nav-icon"
         [routerLink]="loggedUserID >= 0 ? (isAdmin ? '/adminAccount' : '/user/'+userIDService.getID()[0]) : ''">
    <button *ngIf="userIDService.getID() < 0" type="button" class="btn btn-primary" routerLink="/login">Sign in
    </button>
    <button *ngIf="userIDService.getID() >= 0" type="button" class="btn btn-primary" routerLink="" (click)="logOut()">
      Sign out
    </button>
</nav>
