<div class="container">
  <div class="row">

    <div class="col">
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let subscription of subscriptions | paginate: { itemsPerPage: 4, currentPage: page }">
          <h2><a class="nav-link" routerLink="/details/{{subscription.id}}">{{subscription.name}}</a></h2>
          <p class="lead">{{subscription.description}}</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav justify-content-center">
    <div class="has-text-centered">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
