<div class="col">
  <p></p>
  <h2>Billing account</h2>
  <select class="form-control">
    <option>first billing account</option>
    <option>new one</option>
    <option>wtf is this</option>
  </select>
  <h2>Money left</h2>
  <input class="form-control" type="text" placeholder="20$" readonly>
  <p></p>
  <button type="button" class="btn btn-success" routerLink="/manageBillingAccount">Manage billing account</button>
  <button type="button" class="btn btn-success" routerLink="/createBillingAccount">Create billing account</button>
</div>
