<div class="col">
  <p></p>
  <h2>Billing account</h2>
  <select #billingAccountSelect class="form-control">
    <option *ngFor="let billingAccount of billingAccounts">{{billingAccount.name}}</option>
  </select>
  <h2>Money left</h2>
  <input *ngIf="billingAccounts" #moneyField class="form-control" type="text" placeholder="{{billingAccountSelect.selectedIndex}}" readonly>
  <button type="button" class="btn btn-success" routerLink="/manageBillingAccount">Manage billing account</button>
  <p></p>
  <button type="button" class="btn btn-success" routerLink="/createBillingAccount">Create billing account</button>
</div>
