<div *ngIf="billingAccounts !== undefined" class="row">
  <div class="col"></div>

  <div class="col-6">
    <div class="form-group">
      <label for="billingAccountSelect">Select billing account</label>
      <select #selectedBillingAccount id="billingAccountSelect" class="form-control">
        <option *ngFor="let billingAccount of billingAccounts">{{billingAccount.name}}</option>
      </select>
    </div>
    <button *ngIf="!billingAccounts[selectedBillingAccount.selectedIndex].isBanned" type="button"
            (click)="changeActiveBillingAccount(billingAccounts[selectedBillingAccount.selectedIndex])"
            class="btn btn-outline-success" [routerLink]="'../user/' + id">Set active
    </button>
    <p>   </p>
    <button *ngIf="!billingAccounts[selectedBillingAccount.selectedIndex].isBanned" type="button"
            (click)="deleteBillingAccount(billingAccounts[selectedBillingAccount.selectedIndex].id,
       billingAccounts[selectedBillingAccount.selectedIndex].password);" class="btn btn-outline-danger"
            [routerLink]="'../user/' + id">Delete billing account
    </button>
    <div class="form-group">
      <label for="BillingAccountPassword">Billing account password</label>
      <input #password maxlength="40" type="password" class="form-control" id="BillingAccountPassword">
    </div>
    <div class="form-group">
      <label for="CreditCardNumber">Billing account number</label>
      <input #creditCardNumber maxlength="40" type="password" class="form-control" id="CreditCardNumber">
      <small id="CreditCardNumberHelp" class="form-text text-muted">We'll never steal your money.</small>
    </div>
    <div class="form-group">
      <label for="BillingAccountSum">Enter the sum of money</label>
      <input #sumOfMoney max="1000" type="number" min="0" class="form-control" id="BillingAccountSum">
      <small id="PaymentHelp" class="form-text text-muted">This amount of money will be written off your credit
        card.
      </small>
    </div>
    <p *ngIf="wrongData" class="text-danger">Wrong data input.</p>
    <button *ngIf="!billingAccounts[selectedBillingAccount.selectedIndex].isBanned" type="button"
      (click)="addMoney(selectedBillingAccount.value, password.value, creditCardNumber.value, sumOfMoney.value);"
      class="btn btn-outline-primary">Submit
    </button>
    <p class="text-danger" *ngIf="billingAccounts[selectedBillingAccount.selectedIndex].isBanned">Banned</p>
  </div>

  <div class="col"></div>
</div>
